.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
  Common Styles
*/
.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

/*
Styles for header
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 20%;
}

form {
  display: flex;
  width: 100%;
}

input[type="text"] {
  border: none;
  background-color: #eee;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  width: inherit;
}

button[type="submit"] {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
Styles for Benchmarks page
*/

.page-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
}

.left-nav, .main-content, .right-rail {
  height: auto;
}

.left-nav {
  padding: 15px;
}

.main-content {
  padding: 15px;
}

.right-rail {
  margin-right: 12px;
}

.search-window {
  /* border: 1px solid black; */
  padding: 15px 15px 2px 15px;
  background-color: lightgrey;
}



/*
Styles for Right Rail
*/

.right-side-of-container svg {
  padding-right: 20px;
}

.row5-search-window svg {
  padding-right: 20px;
}
.row3-search-window {
  padding-bottom: 45px !important;
}
.row5-search-window {
  padding-bottom: 0px !important;
}

.row1-search-window, .row3-search-window, .row4-search-window, .row5-search-window {
  display: flex;
  justify-content: space-between;
}
.rows-search-window{
  padding-bottom: 15px;
}

.results-window{
  border: 1px solid black;
  height: 500px;
}

svg {
  cursor: pointer;
}


/*
Styles for Login page
*/

.auth-form-container a {
  color: #169BD5;
  text-decoration: none;
  font-size: small;
}

.comn-container-auth{
    position: absolute;
    z-index: 999;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.comn-container-auth p {
  margin-bottom: 30px !important;
}

.comn-container-auth h1, .comn-container-auth p {
  margin-bottom: 20px;
  text-align: center;
}

.comn-container-auth label {
  display: block;
  margin-bottom: 5px;
}

.comn-container-auth input[type="checkbox"] {
  height: 13px;
}

.comn-container-auth input{
  display: block;
  margin-bottom: 25px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid;
  width: 100%;
}

.comn-container-auth button {
  margin-top: 25px;
  margin-top: 10px;
  margin: 25px 0px 0px 80px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid;
  width: 40%;
}


.comn-container-auth form {
  flex-direction: column;
}

.inner-container-auth{
  width: 40%;
}

.clear-icon {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
}
.checkbox-container {
  display: flex;
}

.checkbox-container a {
  padding-left: 55px;
}

.checkbox-container label {
  margin-top: -3px;
  margin-bottom: 0px;
}

.span-class-link {
  color: -webkit-link;
  cursor: pointer;
  font-size: small;
}

.checkbox {
  display: flex;
  margin-bottom: 1rem;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}

.checkbox label {
  margin-top: -2px;
}

.checkbox span{
  margin-left: 3rem;
}

