.App {
  text-align: center;
}

body {
  /* overflow: hidden; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: Source Sans Pro,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}

#root {
  font-family: Source Sans Pro,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
  Common Styles
*/
.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

/*
Styles for header
*/

.styles-for-dropdown {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rounded-xl {
  border-radius: .75rem
}
.border {
  border-width: 1px
}
.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246/var(--tw-border-opacity))
}
.transform {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}

.top-1\/2 {
  top: 27%;
}

.left-2\.5 {
  left: 0.625rem;
}
.absolute {
  position: absolute;
}

.border-l {
  border-left-width: 2px;
}

.border-r {
  border-right-width: 2px;
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246/var(--tw-border-opacity));
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.items-center {
  align-items: center;
}
.w-full {
  width: 85%;
}
.h-16 {
  height: 4rem;
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
.flex-1 {
  flex: 1 1 0%;
}
.lg\:block {
  display: block;
}

.md\:block {
  display: block;
}

.font-bold {
  font-weight: 700;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 1.75rem;
}

.lg\:max-w-sm {
  max-width: 24rem;
}
.lg\:mr-6 {
  margin-right: 1.5rem;
}
.flex-1 {
  flex: 1 1 0%;
}
.mr-2 {
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}
.relative {
  position: relative;
}
.border-b{
  border-bottom-width: 2px;
}

.pr-3 {
  padding-right: 0.75rem;
}
.pl-8 {
  padding-left: 2rem;
}
/* .w-full {
  width: 100%;
} */
.h-9 {
  height: 2.25rem;
}

.form-input-alt, .form-input-alt:focus {
  --tw-shadow: inset 0 2px 4px 0 rgba(0,0,0,.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.form-input-alt {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
.form-input-alt {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  height: 2.3rem;
  padding-left: 2rem;
  padding-right: 0.75rem;
}

.lg\:block {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}
menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.py-0\.5 {
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.mr-1\.5 {
  margin-right: 0.375rem;
}
.space-x-2>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
  margin-right: calc(1rem*var(--tw-space-x-reverse));
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}


/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 20%;
}

form {
  display: flex;
  width: 100%;
}

/* input[type="text"] {
  border: none;
  background-color: #eee;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  width: inherit;
} */

/* button[type="submit"] {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */ */

/*
Styles for Benchmarks page
*/

.page-container {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  width: 100%;
}

.left-nav, .main-content, .right-rail {
  height: auto;
}

.left-nav {
  overflow-y: auto;
  height: 100vh;
}

.main-content {
  padding: 15px;
  overflow-y: scroll;
  height: 100vh;
}

.right-rail-container {
  margin-right: 12px;
  background: #f8f9fa;
}

.search-window {
  /* border: 1px solid black; */
  padding: 15px 15px 2px 15px;
  /* background-color: lightgrey; */
  /* border-bottom: none; */
}


.updates-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
}

.getStarted-container, .page-container{
  display: grid;
  grid-template-columns: 15% 65% 20%;
  width: 100%;  
}

.btn {
  --tw-border-opacity: 1;
  --tw-gradient-from: #fff;
  --tw-gradient-to: hsla(0,0%,100%,0);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: #f3f4f6;
  --tw-text-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
  /* color: rgb(31 41 55/var(--tw-text-opacity)); */
}

/* .w-full {
  width: 100%;
} */

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175/var(--tw-text-opacity));}

.mr-1\.5 {
    margin-right: 0.375rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.grid {
  display: grid;
}

.content-start {
  align-content: flex-start;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.flex-col {
  flex-direction: column;
}
.min-h-screen {
  min-height: 100vh;
}
.flex {
  display: flex;
}
.inside-body {
  line-height: inherit;
  margin: 0;
}

.contents {
  display: contents;
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246/var(--tw-border-opacity));
}
.border-y {
  border-bottom-width: 1px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.items-center {
  align-items: center;
}

.h-16 {
  height: 4rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.mr-5 {
  margin-right: 1.25rem;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Styles for Right Rail
*/

.right-rail-search-svg {
  padding: 5px;
  
}

.right-side-of-container svg {
  padding-right: 20px;
}

.row5-search-window svg {
  padding-right: 20px;
}
.row3-search-window {
  padding-bottom: 25px !important;
}
.row5-search-window {
  background-color: #dee2e6!important;
}

.row1-search-window, .row3-search-window, .row4-search-window, .row5-search-window {
  display: flex;
  justify-content: space-between;
}

.storage-span {
  margin-top: 4px;
}

.results-window{
  /* border: 1px solid black; */
  height: 480px
}

svg {
  cursor: pointer;
  vertical-align: middle;
  /* --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity)); */
}

.svg-inline--fa {
  height: 0.8rem;
  color: #25537b;
  font-weight: 400;
}

.right-container {
  position: sticky;
    top: 0;
}

.rightpane-text {
  color: #2c3143;
    font-weight: 400;
    line-height: 1.2;
}

.rightpane-text-history {
  font-size: 1.0625rem;
  font-weight: 500;
}

.rightpane-text-unnamed-history {
  font-size: 1.275rem;
}

/* .row5-search-window .left-side-of-container, .row4-search-window .left-side-of-container{
  padding-left: 0.8rem;
} */
.row1-search-window .left-side-of-container{
  padding-top: 5px;
}

.row3-search-window .left-side-of-container{
  padding-top: 3px;
}

.row4-search-window .left-side-of-container{
  display: flex;
}

.rightpane-1 svg:hover {
  background-color: #c8cfd6;
}

/* .rightpane-1 svg{
  padding: 10px;
} */

.rightpane-1 svg:not(.search-icon-svg) {
  padding: 10px;
}

.input-group {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.input-group .form-control {
  flex: 1 1 auto;
  margin-bottom: 0;
  min-width: 0;
  position: relative;
  width: 1%;
  font-size: .85rem;
  line-height: 1.5;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #bdc6d0;
  color: #2c3143;
  display: block;
}

.form-control-sm {
  border-radius: 0.2rem;
  font-size: .74375rem;
  height: 22px;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: flex;
}
.btn-secondary{
  border: 1px solid #bdc6d0;
  padding: 7px;
  cursor: pointer;
}
.rows-search-window {
  padding-bottom: 5px;
}

.btn-secondary:hover{
  background-color: #c8cfd6;
}

.alert-info, .form-help .note, .infomessage, .infomessagelarge, .infomessagesmall {
  background: #daecf8!important;
}

.alert-info{
  border-color: transparent;
  color: #2a3f59;
}
.alert {
  border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
    position: relative;
}
.m-2 {
  margin: 0.5rem!important;
}
.results-window h4 {
  margin: 5px;
}

.results-window p {
font-size: 14px;}
/*
Styles for Login page

*/


.form-input:not([type=radio]):not([type=checkbox]) {
  border-radius: 0.375rem;
  display: block;
  margin-top: 0.25rem;
  width: 100%;
}

.form-input:not([type=checkbox]) {
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
  border-width: 2px;
  --tw-ring-shadow: 0 0 #0000;
    
}

.auth-form-container a {
  color: #169BD5;
  text-decoration: none;
  font-size: small;
}

.comn-container-auth{
    position: absolute;
    z-index: 999;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.comn-container-auth p {
  margin-bottom: 30px !important;
}

.comn-container-auth h1, .comn-container-auth p {
  margin-bottom: 20px;
  text-align: center;
}

.comn-container-auth label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

.comn-container-auth input[type="checkbox"] {
  height: 13px;
}

.comn-container-auth input{
  display: block;
  /* margin-bottom: 25px; */
  height: 35px;
  border-radius: 6px;
  border: 1px solid;
  width: 100%;
  padding: 0.2rem 0.5rem;
}

/* .comn-container-auth button {
  margin-top: 25px;
  margin-top: 10px;
  margin: 25px 0px 0px 80px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid;
  width: 40%;
} */
.comn-container-auth button {
  --tw-border-opacity: 1;
  --tw-gradient-from: #fff;
  --tw-gradient-to: hsla(0,0%,100%,0);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  --tw-gradient-to: #f3f4f6;
  --tw-text-opacity: 1;

}
.btn-widget {
  border-color: rgb(229 231 235/var(--tw-border-opacity));
  color: rgb(31 41 55/var(--tw-text-opacity));
  width: 100%;
  align-items: center;
  /* background-image: linear-gradient(to bottom,var(--tw-gradient-stops)); */
  border-radius: 0.5rem;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 1rem 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-top: 2rem !important;

}


.comn-container-auth form {
  flex-direction: column;
}

.inner-container-auth{
  width: 40%;
}

.clear-icon {
    position: absolute;
    right: 12px !important;
    top: 8px !important;
    cursor: pointer;
}
.checkbox-container {
  display: flex;
}

.checkbox-container a {
  padding-left: 55px;
}

.checkbox-container label {
  margin-top: -3px;
  margin-bottom: 0px;
}

.span-class-link {
  color: #169BD5;
  cursor: pointer;
  font-size: small;
}

.checkbox {
  display: flex;
  margin-top: 1rem;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}

.checkbox label {
  margin-top: -2px;
}

.checkbox span{
  margin-left: 3rem;
}




/* Styles for team Page */

.img-responsive {
  display: block;
  height: auto;
  width: 180px;
  height: 181px;
}

.team-page-container a {
  color: #169BD5;
}

.image-container p {
  margin: 2px;
}

.team-page-container h3 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.team-page-container h1 {
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-page-container h1, .team-page-container h3 {
  color: #444;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 230px; 
  padding: 20px;
  border-top: 1px solid #ccc;
}

.member-image {
  width: 155px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.member-details {
  text-align: center;
}

.member-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.member-organization {
  font-size: 1rem;
}

.core-team-container, .steering-team-container {
  display: flex;
  flex-wrap: wrap;
}

.steering-committee-header3 {
  margin-bottom: 15px !important;
}



/* Styles for Nav Links */

.hide {
  display: none;
}

ul.ul-suboptions {
  display: list-item;
  /* background-color: #333; */
  padding: 2px;
  /* margin-left: -24px; */
}
ul.ul-suboptions li {
  padding: 10px 20px;
  text-align: center;
  max-width: 10rem;
}
ul.ul-suboptions li:hover {
  background-color: rgba(128, 128, 128, 0.06);
  text-decoration: underline;
  text-decoration-color: black;
}

.suboptions-container {
  position: absolute;
  z-index: 999;
  background-color: white;
}

ul li:hover > ul {
  display: list-item !important;
}

/* Styles for Main-content */

.main-content img{
  max-width: 30rem;
  max-height: 100%;
}
/* .main-content h2{
  text-align: center;
} */

.main-content a{
  color: #111849;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.main-content li{
  list-style-type: disc;
}
.main-content ul{
  list-style-type: disc;
  padding-left: 3rem;
}

.main-content code {
  font-size: 85%;
  /* background-color: rgba(175, 184, 193, 0.2); */
  padding: 0.2em 0.4em;
  margin: 0px;
  border-radius: 6px;
  font-family: monospace;
  font-size: 12px;

}

.main-content pre {
  font-size: 85%;
  line-height: 1.45;
  background-color: rgb(246, 248, 250);
  overflow-wrap: normal;
  padding: 16px;
  overflow: auto;
  border-radius: 6px;
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}


/* Preview Datasets */

.main-content code{
  font-size: 14px;
  }
  /* .copy-to-clipboard-button {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
  } */
  .preview-dataset-container span.fu {
    color: #06287e;
} 

.preview-dataset-container span.ot {
  color: #007020;
}

span.st {
  color: #4070a0;
}

span.at {
  color: #7d9029;
}

span.dv {
  color: #40a070;
}

span.sc {
  color: #4070a0;
}
    
/* Alerts */
.message-box{
  position: absolute;
  z-index: 999;
  left: 35%;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  margin-top: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

/* Styles for
Updates Page */

.updates-div {
  margin: 20px 0px;
  border-top-width: 3px;
}


.getStarted-container .main-content img{
  align-items: center;
  justify-content: center;
}

.category {
  border-left-width: 4px;
  border-left-color: #e9ecef;
}

#root_clustering, #root_outliers, #root_tSNEAndFR, #root_extraParameters, #root_parameters {
  padding: 0px;
  margin: 0px;
}

#root_clustering legend, #root_outliers legend, #root_tSNEAndFR legend, #root_extraParameters legend, #root_parameters legend{
  background: #e9ecef  ;
  width: 100%;
  padding: 10px 10px;
  font-weight: bolder;
  color: #2c3143;
}

.tools-container .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.tools-container .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  /* padding: 6px 10px !important; */
}

.tools-container .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  /* flex: none !important; */
}

.tools-container .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tools-container .glyphicon-plus:before {
  content: "\002b";
}

.tools-container .glyphicon-remove:before {
  content: "\00d7";
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: -1px;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
  z-index: 2;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc !important;
}
.glyphicon-arrow-down:before {
  content: "\2193";
}
.glyphicon-arrow-up:before {
  content: "\2191";
}

.tools-container .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.sub-category {
  padding-left: 10px;
}
.control-label {
  font-weight: bolder;
}

.default-class {
  margin-left: 10px;
}

.default-class label{
  background: #e9ecef  ;
  width: 100%;
  padding: 10px 10px;
  font-weight: bolder;
}

.default-class select,
.default-class p{
  margin-left: 10px;
  width: 98.5% !important;
}

/* .field-description {
  padding-left: 10px;
} */

.common-class-tools-and-workflows .form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.common-class-tools-and-workflows label {
  display: block;
  margin-bottom: 0.5rem;
}

.common-class-tools-and-workflows input,
.common-class-tools-and-workflows select,
.common-class-tools-and-workflows textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
/* 
  .common-class-tools-and-workflows select.form-control {
    height: 40px;
  } */

  .common-class-tools-and-workflows select option {
    padding: 5px; /* Add some padding to each option */
    margin: 5px 0;
  }

  .datasets-input-select {
    width: 80%;
  }

  .common-class-tools-and-workflows input:focus,
  .common-class-tools-and-workflows select:focus,
  .common-class-tools-and-workflows textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .inputData-management {
    margin-left: 15px;
  }

  .inputData-management .icons-wrap-input {
    margin-right: 10px;
  }
  .inputData-management .icons-wrap-input svg{
    background-color: rgb(218, 236, 248);
  }

  /* .inputData-management .icons-wrap-input{
    background-color: rgb(218, 236, 248);
    border-radius: 5px;
    border: 1px solid #bdc6d0;
  } */

  .inputData-management .icons-wrap-input button{
    background-color: rgb(218, 236, 248);
    border: 1px solid #bdc6d0;
    padding: 7px 10px;
    margin-left: -1px;
    cursor: pointer;
  }
  .inputData-management button.input-path-button {
    padding: 7px 10px;
    background-color: #dee2e6;
    border-radius: 5px;
    border: 1px solid #bdc6d0;
  }

  .inputData-management button.input-path-button svg{
    background-color: #dee2e6;
  }

  .inputData-management #upload-data-div{
    background-color: rgb(218, 236, 248);
  }

  .inputData-management #upload-data-div select{
    background-color: rgb(218, 236, 248);
    display: block;
    float: none;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 94%;
    cursor: pointer;
  }

.ui-form-title-message {
    color: #545e81;
    cursor: default;
    font-size: .595rem;
    font-weight: 300;
    vertical-align: text-top;
}

  .inputData-management .wrap-div-row {
    display: flex;
  }

  .inputData-management .common-row-wrap {
    padding-bottom: 16px;
  }

  .common-class-tools-and-workflows button[type="submit"] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .common-class-tools-and-workflows button[type="submit"]:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  .common-class-tools-and-workflows .separator {
    align-items: center;
    display: grid;
    grid-template-columns: 1rem auto 1fr;
    margin-bottom: 0.5rem;
    gap: 1rem;
  }

  .common-class-tools-and-workflows .separator .stripe {
    background-color: rgb(222, 226, 230);
    display: block;
    height: 1px;
}

.common-class-tools-and-workflows .h-sm {
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.0625rem;
}



.panel-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
  height: 100%;
  padding: 10px;
  font-size: 20px;
}

.panel-icons svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* .tool-panel-section {
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
} */

/* 
.tool-panel-section h3 {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  background: rgb(233, 236, 239);
  border-left: 0.25rem solid rgb(174, 185, 197);
} */

.category-level-header {
  padding: 10px 0px 10px 15px;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  background: rgb(233, 236, 239);
  border-left: 0.25rem solid rgb(174, 185, 197);
  margin: 0px;
  cursor: pointer;
}

/* .filter-level-ul {
  padding: 0px 0px 0px 15px;
} */

.category-level {
  margin-bottom: 20px;
}

li.filter-level-li {
  padding: 11px 0px;
  padding-left: 40px;
  word-break: break-word;
  cursor: pointer;
}

.category-icon {
  float: right;
  margin-right: 10px;
}

/* .category-filters {
  overflow: hidden;
  transition: all 5s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.category-filters.expanded {
  max-height: 500px;
  opacity: 1;
} */


/* Define the animation */
@keyframes expand {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 50px;
    opacity: 1;
  }
}

/* Apply the animation to the ul element */
.filter-level-ul {
  overflow: hidden;
  animation: expand 0.2s ease-out;
}

.category-level-header:hover {
  background-color: #e0e0e0;
}

.filter-level-li:hover {
  background-color: #f0f0f0;
}

width
::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.left-nav-background {
  background: #f8f9fa;
}

.tool-message {
  padding: 10px;
}

/* .filter-details-tools {
  margin: 10px 20px 10px 10px;} */


  
.expandable {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.header {
  background-color: #f5f5f5;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  display: inline-block;
  width: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.arrow.expanded {
  transform: rotate(90deg);
}

.title {
  margin-left: 5px;
}

.content {
  padding: 10px;
  animation: slide-down 0.3s ease;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hoverable-icon {
  position: relative;
  display: inline-block;
  background-color: transparent;
  color: black;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.hoverable-icon:hover {
  background-color: lightgrey;
}
